<div id="search" class="input-group">
    <span class="input-group-btn icon-search-block">
        <i class="fa fa-search"></i>
    </span>
    <input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" class="form-control input-lg" />
    <span class="input-group-btn">
        <button type="button" class="btn btn-default btn-lg search-btn">{{ text_search }}</button>
    </span>
</div>